In [82]:
#1. Write a statement(WAS) to print “Hello World” by using shell
print("HELLO WORLD")

HELLO WORLD

In [83]:
#2. WAS to print “Hello world” by using python print function
a="HELLO WORLD"
print(a)

HELLO WORLD

In [84]:
#3. WAS to initialize variable and value as 50.
a=50
print(a)

50

In [85]:
#4. WAS to initialize multivariable value are 150,120,250(take your own variable names )
a,b,c,d=10,20,30,40
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [86]:
#5. WAS to print the type of the data in the given value.
a=10
print(type(a))
b=20.0
print(type(b))
c=5+2j
print(type(c))
d=True
print(type(d))
e=[10,20,3]
print(type(e))
f={'a':10,'b':20}
print(type(f))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>

In [87]:
#6. WAS to print the address of the memory block in given value.
a=10
print(id(a))
b=20.0
print(id(b))
c=[10,20,30]
print(id(c))

1797359954512
1797443171600
1795318425664

In [88]:
#7. WAS to print your details, first store your details, extract the values and display it.
name="Akhil"
Con="9848695214"
add="hyd"
gender="M"
print(name,Con,add,gender)

Akhil 9848695214 hyd M

In [89]:
#8. WAS to swap the two values. With a temp variable.
a=10
b=20
c=a
a=b
b=c
print(a,b)

20 10

In [90]:
#9. WAS to swap the two values without temp variable
a=10
b=20
a=b
b=a
print(a,b)

20 20

In [91]:
#10. WAS to initialize a value and print the value, after print then reinitialize the new value to the existing variable and display the value.
a=10
print(a)
a

10

10

In [92]:
#11. WAS to convert single to multi value data type
#I/p ⇒ a=10
#o/p ⇒ [‘1’,’0’]
a=10
print(list(str(a)))

['1', '0']

In [93]:
#12. WAS to concat the two multi value data types(str , list, tuple, dict).
a="apple"
a+="good"
print(a)
a=[10,20,30]
b=[40,50]
c=a+b
print(c)

applegood
[10, 20, 30, 40, 50]

In [94]:
#13. WAC to perform the length of the collection.
a="Good morning"
print(len(a))
b="Goodmorning"
print(len(b))

12
11

In [95]:
#14. WAC to find out the middle value of the given collection.
l=[10,20,30,40,50]
print(l[len(l)//2])

l=[10,20,30,40]
print(l[len(l)//2])

30
30

In [96]:
#15. WAS to concat the new string into the starting of the given string.
a="morning"
b="Good"+a[::]
print(b)

Goodmorning

In [97]:
#16. WAS to concat the new string into the ending of the given string.
a="Good"
b=a[::]+"Morning"
print(b)

GoodMorning

In [98]:
#17. WAS to concat the new string into the middle of the given string.
a="Morning"
a[0:3]+"Apple"+a[3:]

'MorApplening'

In [99]:
#write a statement to replace the old character into a new character of the given string

st="PYSPIDERS"
res = st[:-3]+"Q"+st[-2:]
print(res)

temp = st[:6]+"Q"+st[7:]
print(temp)

PYSPIDQRS
PYSPIDQRS

In [100]:
#WAS to delete the specific character int he given string
st="QSPIDERS"
res=st[:4]+st[4+1:]
print(res)

QSPIERS

In [101]:
#WAS to delete the sequence of characters int he given string
st="QSPIDERS"
res=st[:2]+st[6:]
print(res)

res=st[:2]+st[-2:]
print(res)

res=st[:-6]+st[-2:]
print(res)

res=st[:-6]+st[6:]
print(res)

QSRS
QSRS
QSRS
QSRS

In [102]:
#WAS to concat the new stringinto the specific position of the given string
st="QSPIDERS"
res=st[0:4]+"123456"+st[4:]
print(res)

res=st[0:-4]+"123456"+st[-4:]
print(res)


res=st[-1:-5:-1]+"123456"+st[-5::-1]
print(res)

res=st[:3:-1]+"123456"+st[3::-1]
print(res)

QSPI123456DERS
QSPI123456DERS
SRED123456IPSQ
SRED123456IPSQ

In [103]:
#WAS to concat the new value into the starting of the given list
l=[10,20,30,"hello"]
l=[100,200]+l
print(l)

l=[10,20,30,"hello"]
print(l,id(l))
l[0:0]=[100,200]
print(l ,id(l))

l=[10,20,30,"hello"]
t=[100,200]
t+=l
print(t)

[100, 200, 10, 20, 30, 'hello']
[10, 20, 30, 'hello'] 1795318898752
[100, 200, 10, 20, 30, 'hello'] 1795318898752
[100, 200, 10, 20, 30, 'hello']

In [104]:
#WAS to concat the new value into the ending of the given list
l=[10,20,30,"hello"]
l=l+[100,200]
print(l)

l=[10,20,30,"hello"]
print(l,id(l))
l+=[100,200]
print(l,id(l))

l=[10,20,30,"hello"]
print(l,id(l))
l[-1:-1]=[100,200]#it is not corret way
print(l,id(l))

l=[10,20,30,"hello"]
print(l,id(l))
l[len(l):len(l)]=[100,200]
print(l,id(l))

[10, 20, 30, 'hello', 100, 200]
[10, 20, 30, 'hello'] 1795318687040
[10, 20, 30, 'hello', 100, 200] 1795318687040
[10, 20, 30, 'hello'] 1795318686848
[10, 20, 30, 100, 200, 'hello'] 1795318686848
[10, 20, 30, 'hello'] 1795318687040
[10, 20, 30, 'hello', 100, 200] 1795318687040

In [105]:
#WAS to concat the new value into the middle of the given list
l=[10,20,30,"hello",100]
l[len(l)//2]='A'
print(l)

l=[10,20,30,"hello",100,200]
l[len(l)//2:len(l)//2]=['A']
print(l)

l=[10,20,30,"hello",100]
l[len(l)//2:len(l)//2]=['A']
print(l)

[10, 20, 'A', 'hello', 100]
[10, 20, 30, 'A', 'hello', 100, 200]
[10, 20, 'A', 30, 'hello', 100]

In [106]:
#WAS to modify the new value into the specific position of the given list

l=[10,20,"hello",30]
l[2]="world"
print(l)

l=[10,20,"hello",30]
l[2:2]=["hello","world"]
print(l)

l=[10,20,"hello",30]
l[1]="world"
print(l)

l=[10,20,"hello",30]
l[2]=500
print(l)

l=[10,20,"hello",30]
l[1]=200
print(l)

[10, 20, 'world', 30]
[10, 20, 'hello', 'world', 'hello', 30]
[10, 'world', 'hello', 30]
[10, 20, 500, 30]
[10, 200, 'hello', 30]

In [107]:
#WAS to modify the new value into the starting position of the given list

l=[10,20,"hello",30]
l[0]="world"
print(l)

['world', 20, 'hello', 30]

In [108]:
#WAS to modify the new value into the middle position of the given list

l=[10,20,"hello",30]
l[len(l)//2]="world"
print(l)

l=[10,20,"hello",30,40]
l[len(l)//2]="world"
print(l)

[10, 20, 'world', 30]
[10, 20, 'world', 30, 40]

In [109]:
#WAS to modify the new value into the ending of the given list
l=[10,20,"hello",30]
l[-1]="world"
print(l)

l=[10,20,"hello",30,40]
l[-1]="world"
print(l)

[10, 20, 'hello', 'world']
[10, 20, 'hello', 30, 'world']

In [110]:
#WAS to modify the first 4 positions of the given list
l=[1,2,3,4,5,6,7]
print(l)
l[0:4]=['a','b','c','d']
print(l)

[1, 2, 3, 4, 5, 6, 7]
['a', 'b', 'c', 'd', 5, 6, 7]

In [111]:
#WAS to delete the  value in the specific position of the given list
l=[10,20,30,40,50]
del l[3]
print(l)

[10, 20, 30, 50]

In [112]:
#WAS to delete the new value into the ending of the list
l=[1,2,3,4,5]
print(l)
del l[-1]
print(l)

l=[1,2,3,4,5]
print(l)
del l[len(l)-1]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [113]:
#WAS to delete the new value into the middle of the list

l=[1,2,3,4,5,6,7]
print(l)
del l[len(l)//2]
print(l)

l=[1,2,3,4,5,6]
print(l)
del l[len(l)//2]
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [114]:
#WAS to delete the new value into the middle of the list
l=[1,2,3,4,5]
print(l,id(l))
del l[0]
print(l,id(l))

l=[1,2,3,4,5]
print(l)
del l[-len(l)]
print(l)

l=[1,2,3,4,5]
print(l)
del l[-5]
print(l)

[1, 2, 3, 4, 5] 1795318424320
[2, 3, 4, 5] 1795318424320
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [115]:
#WAS to delete the sequence of values from the list
l=[1,2,3,4,5,6]
print(l)
del l[0:4]
print(l)

print("--"*15)

l=[1,2,3,4,5,6,'a','b','c','d']
print(l)
del l[4:0:-1]
print(l)

print("--"*20)

l=[1,2,3,4,5,6,'a','b','c','d']
print(l)
del l[-1:-5:-1]
print(l)

[1, 2, 3, 4, 5, 6]
[5, 6]
------------------------------
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']
[1, 6, 'a', 'b', 'c', 'd']
----------------------------------------
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6]

In [116]:
#WAS to concat the new value into starting of the tuple
t=("Hello","Good","Morning")
print(t)
t=("Hai",)+t
print(t)

('Hello', 'Good', 'Morning')
('Hai', 'Hello', 'Good', 'Morning')

In [117]:
#WAS to concat the new value into middle of the tuple
t=("Hello","Hai","Good","Morning")
print(t)
t=t[:(len(t)//2)]+([10.20],)+t[len(t)//2:]
print(t)

('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', [10.2], 'Good', 'Morning')

In [118]:
#WAS to concat the new value into ending of the tuple
t=("Hello","Good","Morning")
print(t)
t=t+("hai",)
print(t)

('Hello', 'Good', 'Morning')
('Hello', 'Good', 'Morning', 'hai')

In [119]:
#WAS to concat the new value into the specific position of the tuple
t=("Hello","Hai","Good","Morning")
print(t)
t=t[:3]+([10,20],)+t[3:]
print(t)

('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', [10, 20], 'Morning')

In [120]:
#WAS to concat the new value into the last of the tuple
t=("Hello","Hai","Good","Morning")
print(t)
t=t[0:]+([10,20],)
print(t)

t=("Hello","Hai","Good","Morning")
print(t)
t=t+('bye',)
print(t)

t=("Hello","Hai","Good","Morning")
print(t)
t+=("bye bye",)
print(t)

('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'Morning', [10, 20])
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'Morning', 'bye')
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'Morning', 'bye bye')

In [121]:
#WAS to modify the values into the tuple
#starting
t=("Hello","Hai","Good","Morning")
print(t)
t=("bye",)+t[1:]
print(t)

#ending
t=("Hello","Hai","Good","Morning")
print(t)
t=t[:-1]+("bye bye",)
print(t)

#specific position
t=("Hello","Hai","Good","Morning")
print(t)
t=t[0:2]+("afternoon",)+t[2+1:]
print(t)

#sequence of values
t=("Hello","Hai","Good","Morning","bye")
print(t)
t=t[0:2]+([10,20],)+t[4:]
print(t)

('Hello', 'Hai', 'Good', 'Morning')
('bye', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'bye bye')
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'afternoon', 'Morning')
('Hello', 'Hai', 'Good', 'Morning', 'bye')
('Hello', 'Hai', [10, 20], 'bye')

In [122]:
#WAS to delete the values into the tuple
#starting
t=("Hello","Hai","Good","Morning")
print(t)
t=t[1:]
print(t)

#ending
t=("Hello","Hai","Good","Morning")
print(t)
t=t[0:-1]
print(t)

#specific position
t=("Hello","Hai","Good","Morning")
print(t)
t=t[0:2]+t[2+1:]
print(t)

#sequence of values
t=("Hello","Hai","Good","Morning","bye")
print(t)
t=t[0:2]+t[4:]
print(t)

('Hello', 'Hai', 'Good', 'Morning')
('Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Good')
('Hello', 'Hai', 'Good', 'Morning')
('Hello', 'Hai', 'Morning')
('Hello', 'Hai', 'Good', 'Morning', 'bye')
('Hello', 'Hai', 'bye')

In [123]:
#WAP to perform the set operations
#union/concat
s={10,20,30,40}
t={20,30,50,60}
temp=s|t
print(temp)

#union/concat/union updation
s={10,20,30,40}
t={20,30,50,60}
s|=t
print(s)

#different/delete
s={10,20,30,40}
t={20}
temp=s-t
print(temp)

#union/concat
s={10,20,30,40}
t={20}
s-=t
print(s)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{40, 10, 30}
{40, 10, 30}

In [124]:
#WAS to concat the new key and value into the dict

d={'a':10,'hello':"bye"}
print(d)
d['c']=20
print(d)

#union/concat
d={'a':10,'hello':"bye"}
s={'b':20,'c':30,'good':"morning"}
d|=s
print(d)

{'a': 10, 'hello': 'bye'}
{'a': 10, 'hello': 'bye', 'c': 20}
{'a': 10, 'hello': 'bye', 'b': 20, 'c': 30, 'good': 'morning'}

In [125]:
#WAS to delete the specific key and value into the dict
d={'a':10,'hello':"bye",'b':20}
print(d)
del d['a']
print(d)

d={'a':10,'hello':"bye",'b':20,'d':40}
print(d)
del [d['a'],d['d'],d['b']]
print(d)

{'a': 10, 'hello': 'bye', 'b': 20}
{'hello': 'bye', 'b': 20}
{'a': 10, 'hello': 'bye', 'b': 20, 'd': 40}
{'hello': 'bye'}

In [126]:
#WAS to modify the specific value in the dict
d={'a':10,'hello':"bye",'b':20,'d':40}
print(d)
d['a']=1000
print(d)

d={'a':10,'hello':"bye",'b':20,'d':40}
t={'hello':"world"}
print(d)
d|=t
print(d)

{'a': 10, 'hello': 'bye', 'b': 20, 'd': 40}
{'a': 1000, 'hello': 'bye', 'b': 20, 'd': 40}
{'a': 10, 'hello': 'bye', 'b': 20, 'd': 40}
{'a': 10, 'hello': 'world', 'b': 20, 'd': 40}

In [127]:
l=[10,20,30,40]
s=["string"]
l=l[:len(l)//2]+s+l[len(l)//2:]
print(l)

[10, 20, 'string', 30, 40]

In [128]:
#print keys and values seperately in the dict
d={'a':10,'b':20,'c':30,'d':40}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [129]:
l="apple"
d=l[:len(l)//2]+"orange"+l[len(l)//2:]
print(d)

aporangeple

In [130]:
s=[10,20,30,40,50]
s[2:]=100,200,300
print(s)

s=[10,20,30,40]
s[2]=100
print(s)

[10, 20, 100, 200, 300]
[10, 20, 100, 40]

In [131]:
#WAS to concat the list and tuple value by using type casting.
l=[10,20,30,40]
t=('a','b','c','d')
res=l+list(t)
print(res)

l=[10,20,30,40]
t=('a','b','c','d')
res=tuple(l)+t
print(res)

l=[10,20,30,40]
t=('a','b','c','d')
l+=list(t)
print(l)

l=[10,20,30,40]
t=('a','b','c','d')
t+=tuple(l)
print(t)

[10, 20, 30, 40, 'a', 'b', 'c', 'd']
(10, 20, 30, 40, 'a', 'b', 'c', 'd')
[10, 20, 30, 40, 'a', 'b', 'c', 'd']
('a', 'b', 'c', 'd', 10, 20, 30, 40)

In [132]:
#WAS to concat the list and tuple value without using typecasting.
l=['a','b','c','d']
t=(10,20,30,40)
l+=t
print(l)

l=['a','b','c','d']
t=(10,20,30,40)
t+=l
print(t)

['a', 'b', 'c', 'd', 10, 20, 30, 40]

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
#WAC to the given number is divisible by 3.
n=15
res=n%3==0
print(res)

n=16
res=n%3==0
print(res)

True
False

In [ ]:
#WAS to the given number is divisible by 2 and 6.
n=15
res=n%3==0 and n%6==0
print(res)

False

In [ ]:
#WAS to the given number the last digit is divisible by 3 from given integer.(don't se type casing)
n=1526
res=n%10
m=res%3==0
print(m)

n=1526
res=((n%10))%3==0
print(res)

True
True

In [ ]:
#WAS to extract the last digit from given integer number.(without typecasting)
n=1526
res=n%10
print(res)

n=1526
res=n%100
print(res)

n=1526
res=n%1000
print(res)

n=1526
res=n%10000
print(res)

6
26
526
1526

In [ ]:
#WAS to eliminate the last digit from  given integer number.
n=1526
res=n//10
print(res)

n=1526
res=n//100
print(res)

n=1526
res=n//1000
print(res)

n=1526
res=n//10000
print(res)

152
15
1
0

In [ ]:
#WAS to extract the last second digit from given integer number.(without typecasting)
n=1879
res=(n%100)//10
print(res)

n=1879
res=(n%1000)//100
print(res)

7
8

In [ ]:
#WAS to check the last digit is divisible by 3 from given integer.(with type casing)
n=1569
res=str(n)[-1]
print(res,type(res))

res1=int(str(n)[-1])
print(res1,type(res1))

res2=(int(str(n)[-1])%3==0)
print(res2)

9 <class 'str'>
9 <class 'int'>
True

In [ ]:
#WAC to the given number is greater than 150.
n=100
res=n>150
print(res)

False

In [ ]:
#WAC to the given number is greater than or equal to 150.
n=150
res=n>=150
print(res)

True

In [ ]:
#WAC to the given number is less than 150.
n=170
res=n<150
print(res)

False

In [ ]:
#WAC to the given number is less than or equal to 150.
n=150
res=n<=150
print(res)

n=140
res=n<=150
print(res)

True
True

In [ ]:
#WAC to check the given number is greatet than 15 & less than 24.
n=20
res=(n)>15 and n<24
print(res)

n=20
res=(15<n and n<24)
print(res)

True
True

In [ ]:
#WAS the given number is even
n=10
res=n%2==0
print(res)

True

In [ ]:
#WAS the given number is 0dd
n=10
res=n%2!=0
print(res)

n=9
res=n%2!=0
print(res)

False
True

In [ ]:
#WAC to perform th replication of a given string with 6 times.
n="apple"
print(n*6)

appleappleappleappleappleapple

In [ ]:
#WAC to check the given number is divisible by 3 and also the number greatre than 22
n=22
res=(n%3==0) and n>22
print(res)

n=24
res=n%3==0 and n>22
print(res)

False
True

In [ ]:
#WAC to perform the length of the collection is even or not.
n=[10,20,30,40]
res=len(n)%2==0
print(res)

n=[10,20,30,40,50]
res=len(n)%2==0
print(res)

n=[10,20,30,40,50]
res=len(n)%2!=0
print(res)

True
False
True

In [ ]:
#WAC to perform the length of the collection is less than 55 and greater than 16.
n="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
res=len(n)<55 and len(n)>16
print(res)

n="ABCDEFGHIJKLM"
res=len(n)<55 and len(n)>16
print(res)

True
False

In [ ]:
#WAC to perform the length of the collection is divisible by 5 and odd.
n="HelloWorld"
res=len(n)%5==0 and len(n)%2!=0
print(res)

n="HelloWorldHello"
res=len(n)%5==0 and len(n)%2!=0
print(res)

False
True

In [ ]:
#WAC to extract the middle position of a given collection(str,list,tuple)
n="HelloWorld"
res=n[len(n)//2]
print(res)

n=[10,20,30,40,50]
res=n[len(n)//2]
print(res)

n=(10,20,300,40,50)
res=n[len(n)//2]
print(res)

W
30
300

In [ ]:
#59. WAC to the given number is greater than 20 and less than 30 and it should be even
n=24
res=(n>20 and n<30)and n%2==0
print(res)

True

In [ ]:
#60. WAC to the given number is even and it should be less than 120.

n=47
res=n<120 and n%2==0
print(res)

n=46
res=n<120 and n%2==0
print(res)

False
True

In [ ]:
#61. WAC to the given number is even and present from 40 to 70
n=50
res=40<=n<=70 and n%2==0
print(res)

True

In [ ]:
#62. WAC to the given number is odd and it should be greater than 97.
a=100
print(a%2!=0 and a>97)

a=101
print(a%2!=0 and a>97)

False
True

In [ ]:
#63. WAC to the given number is less than 122 and greater than 48 and the number should be divisible by 4.
a=116
print(a>48 and a<122 and a%4==0)

True

In [ ]:
#64. WAC to the given number is divisible by 3 or 5, displaying the value.
a=10
print(a%3==0 or a%5==0)

True

In [ ]:
#65. WAC to the given number is between 100 to 200 including the limit.
a=150
print(100<=a<=200)

True

In [ ]:
#66. WAC to the given number is in between 100 to 200.
a=150
print(100<a<200)

True

In [ ]:
#67. WAC to the given string's last character ASCII value should be divisible by 5.
s="string"
a=s[-1]
print(a)
print(ord(a))
print(ord(a) and ord(a)%5==0)

g
103
False

In [ ]:
#68. WAC to the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.
a=84
print(60<a<130 and a%3==0 and a%4==0)

True

In [ ]:
#69. WAC to the given number is even or less than 25.
a=24
print(a%2==0 or a<25)

True

In [ ]:
#70. WAC to the given number is even or greater than 25.
a=30
print(a%2==0 or a>25)

True

In [ ]:
#71. WAC to the given number is divisible by either 3 or 5.
a=25
print(a%3==0 or a%5==0)

True

In [ ]:
#72. WAC to the given number is not an even number.
a=23
print(a%2!=0)

True

In [ ]:
#73. WAC to the given number is not a odd number
a=22
print(a%2==0)

True

In [ ]:
#74. WAC to the given number is not a divisible by 3
a=32
print(a%3!=0)

True

In [ ]:
#75. WAC to the given number is not a divisible by 3 and 5
a=30
print(a%3!=0 and a%5!=0)

False

In [ ]:
#76. WAC to the given number is not a divisible by 3 or 5
a=30
print(a%3!=0 or a%5!=0)

False

In [ ]:
#77. WAC to the given character ascii value is not divisible by 5.
a="A"
print(ord(a)%5!=0)

False

In [ ]:
#WAC to find out the ascii character in a given number.
n=65
print(chr(n))

A

In [ ]:
#WAC to find out the ascii value in a given character.
n='a'
print(ord(n))

97

In [ ]:
#WAC to the given character is uppercase or not.
ch='Y'
65<=ord(ch)<=90

ch='Ya'
print(chr(65)<=ch<=chr(90))

ch='a'
print('A'<=ch<='Z')

ch='Ya'
print(len(ch)==1 and chr(ch)<=chr<=chr(90))

ch='Ma'
print(len(ch)==1 and 'A'<=ch<='Z')

ch="MA"
print(ch .isupper())

True
False
False
False
True

In [ ]:
#WAC convert uppercase to lowercase
ch="A"
print(chr(ord(ch)+32))

ch="a"
print(chr(ord(ch)-32))

a
A

In [ ]:
#WAC to the given character is lowercase or not.
ch='y'
97<=ord(ch)<=122

ch='yA'
print(chr(97)<=ch<=chr(122))

ch='a'
print('a'<=ch<='z')

ch='a'
print(len(ch)==1 and chr(97)<=ch<=chr(122))

ch='a'
print(len(ch)==1 and 'a'<=ch<='z')

ch="ma"
print(ch .islower())

True
True
True
True
True

In [ ]:
#WAC to the given character is the alphabet or not.

ch='a'
print(not(chr(65)>=ch<=chr(122)))

True

In [ ]:
#WAC to the given character is the ascii number.
ch="7"
print(chr(48)<=ch<=chr(57))

ch=""

True

In [ ]:
#WAC to the given character is the special character or not.
ch="@"
print(not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))

True

In [ ]:
#WAC to the given character should not be uppercase.
n='A'
print(not(chr(65)>=n<=chr(97)))

False

In [ ]:
#WAC to the given character should not be lowercase.
n='a'
print(not(chr(97)>=n<=chr(122)))

False

In [ ]:
#WAC to the given character should not be the alphabet.
ch='z'
print(not((65<=ord(ch)>=90) or (97<=ord(ch)<=122)))

False

In [ ]:
#WAC to the given character should not be an ascii number.

In [ ]:
#89. WAC to the given character is the special character.
a=""
print(not(65<=ord(a)<=90 and 97<=ord(a)<=122 and 48<=ord(a)<=57))

True

In [ ]:
#90. WAC to the given character is a vowel.
a="a"
b=['a','e','i','o','u','A','E','I','O','U']
print(a in b)

True

In [ ]:
#91. WAC to the given character is a consonant.
a="d"
b=['a','e','i','o','u','A','E','I','O','U']
print(a not in b)

True

In [ ]:
#92. WAS to convert uppercase to lowercase in a given character.
a="A"
print(chr(ord(a)+32))

a

In [ ]:
#93. WAS to convert lowercase to uppercase in a given character.
a="a"
print(chr(ord(a)-32))

A

In [ ]:
#94. WAS to extract the previous character in the given character.
ch="c"
print(chr(ord(ch)-1))

b

In [ ]:
#95. WAS to extract the next character in the given character.
ch="A"
print(chr(ord(ch)+1))

B

In [ ]:
#96. WAC to the given number character is a special symbol or not.
ch=40
print(not('A'<=chr(ch)<='Z' or 'a'<=chr(ch)<='z' or '0'<=chr(ch)<='9'))

True

In [ ]:
#97. WAC to the given character is converted to ASCII value and the value is even as well as the character should be lowercase.
n="a"
print(ord(n)%2==0 and 'a'<=n<='z')

False

In [ ]:
#98. WAC to the given character is converted to ASCII value and the value is odd as well as the character should be uppercase.
ch="A"
print(ord(ch)%2!=0 and 'A'<=ch<='Z')

True

In [ ]:
#99. WAC to which the given number is converted to character is not a special symbol or not.
a=45
print(chr(a) and ('A'<=chr(a)<='Z' and 'a'<=chr(a)<='z' and '0'<=chr(a)<='9'))

False

In [ ]:
#100. WAC to the given number of the ascii character is a vowel.
n=65
res=chr(n) in 'AEIOUaeiou'
print(res)

res1=chr(n)=='A' or chr(n)=='E' or chr(n)=='I' or chr(n)=='O' or chr(n)=='U' or chr(n)=='a' or chr(n)=='e' or chr(n)=='i' or chr(n)=='o' or chr(n)=='u' 
print(res1)

True
True

In [ ]:
#101. WAC to check if the first and second characters are sequence or not in a given string.
s="ABCD"
print(ord(s[0])==ord(s[1])-1)

True

In [ ]:
#102. WAC to the given character ASCII value should be either greater than 50 or greater than 25 or less than 112.
ch="b"
print(ord(ch)>50 and ord(ch)>25 and ord(ch)<112)

print(25<ord(ch)<112)

True
True

In [ ]:
#103. WAC to the given number is increased by 1.
#104. WAC to the given number is increased by 2.

n=12
print(n+1)

n+=1
print(n)

m=12
m+=2 
print(m)

13
13
14

In [ ]:
#105. WAC to the given number is decreased by 1.
#106. WAC to the given number is decreased by 3.
n=5
n-=1
print(n)

m=5
m-=3
print(m)

4
2

In [ ]:
#107. WAC to the given integer number is present in the collection.
n=10
m=[10,20,30,40]
print(n in m)

n=12
m=(11,12,13,14)
print(n in m)

n=12
m={11,12,13,14}
print(n in m)

True
True
True

In [ ]:
#108. WAC to perform the addition operation on A value and B value and final result should be updated to A.
a=10
b=20
a+=b
print(a)
print(b)

30
20

In [ ]:
#109. WAC to the given value is present in the collection.
n=[10.05,20,30,40]
m=10.05
print(m in n)

True

In [ ]:
#110. WAC to the given list is present in the list.

a=[10,20,30]
m=[10,20,30,[10,20,30]]
print(a in m)

True

In [ ]:
#111. WAC to the given dict value is present in tuple.
n=(10,20,30)
m={10,20,(10,20,30)}
print(n in m)

True

In [ ]:
#112. WAC to the check given value is integer value or not.
n=10
type(n)==int

True

In [ ]:
#113. WAC to the check given value is string value or not.
s="string"
type(s)==str

True

In [ ]:
#114. WAC to the check given value is single value or not.
n=10
type(n) in [int,float,bool,complex,bytes]

True

In [ ]:
#115. WAC to the check given value should not be a single value.
n="str"
type(n) not in [int,float,bool,complex,bytes]

True

In [ ]:
#116. WAC to the check given value is multi value or not.
n="str"
type(n)  in [str,tuple,list,set,dict]

True

In [ ]:
#117. WAC to the check given value is a mutable value or not.
n=[10,20]
type(n) in [list,set,dict]

True

In [ ]:
#118. WAC to the check given value is an immutable value or not.
n=[10,20]
type(n) not in [list,set,dict]

False

In [ ]:
#119. WAC to the check given value should be an immutable value.
a=10
b=type(a)
print(b not in['list','set','dict'])

True

In [ ]:
#120. WAC to check if a given value is divisible by 6 as well as that value present in the collection or not.
n=[30,36,20,40]
m=36
print(m%6==0 and m in n)

True

In [ ]:
#127. To find out the output of a given condition.
(10+20*60 and 10**3) or ({10,20} or not ([15-16]))

1000

In [ ]:
#128. WAC to check if the first and last characters are the same or not in the given list.
l=[10,20,30,10]
print(l[0]==l[3])

True

In [ ]:
#129. WAC to check if a given key is present in a dict.
d={'a':10,'b':20,'c':30}
n='a'
print(n in d)

      #or
      
print(n in d.keys())

True
True

In [ ]:
#130. WAC to check if value is present in the dict.
d={'a':10,'b':20,'c':30}
n=10     
print(n in d.values())

False
True

In [ ]:
#131. WAC to check if the key is not present in a dict.
d={'a':10,'b':20,'c':30}
n='g'
print(n not in d)

      #or
      
print(n not in d.keys())

True
True

In [ ]:
#132. WAC to check if two values are pointing to the same address or not
n=[10,20,30]
m=n
print(m is n)

n=[10,20,30]
m=n.copy()
print(m is n)

n=[10,20,30]
m=n.copy()
print(m[0] is n[0])

import copy
n=[10,20,30]
m=copy.deepcopy(n)
print(m is n)

True
False
True
False

In [ ]:
#133. WAC to check both the values should be integer and both the values are pointing to the same address.
n=10
m=10
type(n)==int and type(m)==int and n is m

True